@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


@layer global {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }


  html,
  body 
  :root{
    overflow-x: hidden;
  }


  body {
    font-family: 'Inter', sans-serif;
  }

  img {
    max-width: 100%;
    display: block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }


.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.children-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
}


@layer responsiveQueries {
  /* Mobile */
  @media (max-width: 699px) {}

  /* Small Tablet */
  @media (min-width: 700px) and (max-width: 849px) {}

  /* Tablet */
  @media (min-width: 850px) and (max-width: 1099px) {}

  /* Desktop */
  @media (min-width: 1100px) {}
}